#container{
    padding: 100px 20px 100px 80px;


}

.box-one{
    border: solid 60px #006139;
    width:20%;
    outline: solid 2px black;
    margin-left: 60px;
    position:absolute;
    margin-left:400px;   
}

.box-two{
    border:solid 120px  #4EE692;
    outline: solid 2px black;
    
}

.box-three{
    border: solid 50px #E0C114;
    width:20%;
    padding-right:40%;
    outline: solid 2px black;
    margin:-40px;
}